*{margin: 5px;padding: 10px;box-sizing: border-box;font-family: sans-serif;}

body{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.capa{
    width: 100%;
    height: 100vh;
    position: absolute;
    
}
 .parrafo{
z-index: 1;
width: 540px;
height: 440px;
padding: 20px 20px;
font-size: 15px;
line-height: 1.5;
background: #fff;
box-shadow: 1px 5px 25px rgb(0,0,0,0.45);
border-radius: 5px;
text-align: justify;
}
.parrafo img{
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}
.parrafo .temas{
   position: relative;
   left: -70%;
    font-size: 15px;
}
a{
    font-size: 20;
    justify-content: right;
}